*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 130px;
    margin-top: -190px;
    flex-wrap: nowrap;
}

h1{
    text-align: center;
}
.column{
    flex: 25%;
    padding: 15px;
}

.column img{
    margin-top: 20px;
}
.column{
    border-radius: 40%;
}

@media (max-width:800px){
    .column{
        flex: 50%;
    }
}

@media (max-width:600px){
    .column{
        flex: 100%;
    }
}
